@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url(../font/SpoqaHanSansNeo-Thin.otf);
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url(../font/SpoqaHanSansNeo-Light.otf);
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url(../font/SpoqaHanSansNeo-Regular.otf);
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url(../font/SpoqaHanSansNeo-Medium.otf);
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url(../font/SpoqaHanSansNeo-Bold.otf);
}

:root {
    --thin-font-kr: 'SpoqaHanSansNeo-Thin';
    --light-font-kr: 'SpoqaHanSansNeo-Light';
    --medium-font-kr: 'SpoqaHanSansNeo-Medium';
    --bold-font-kr: 'SpoqaHanSansNeo-Bold';
    --eg-font: 'Poppins';
    --tit-color: #1f1f1f;
    --sub-color: #313233;
    --sub2-color: #666666;
    --primary-color: #1f27c9;
    --bg-color: #fbfbfb;
}

/*---------------------------nav--------------------------*/
*{
    cursor: none;
}
#nav {
    position: fixed;
    z-index: 1000;
    background: transparent;
    width: 100%;
    backdrop-filter: blur(5px);

}

#nav .gnb_inner {
    display: flex;
    width: 100%;
    max-width: 1400px;
    max-height: 70px;
    margin: auto;
    justify-content: space-between;
}

#nav li {
    list-style: none;
    text-align: center;
    width: 106;
    height: 70px;
    line-height: 70px;
}

#nav li a,
#nav div a {
    color: var(--tit-color);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    position: relative;
    font-family: var(--eg-font);
}

#nav .gnb_inner .logo img {
    vertical-align: middle;
}

#nav .gnb_inner a.logo:hover img {
    animation: tong 0.3s ease 0s infinite alternate;
}

@keyframes tong {
    0% {
        transform: translate(0, 20%);
    }

    100% {
        transform: translate(0, -20%);
    }
}

#nav .gnb_inner .nav_right {
    display: flex;
    height: 70px;
}

#nav .gnb_inner .nav_right li {
    width: 106px;
}

/* container */
.container {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    position: relative;
}

/*-----------------------------section---------------------------*/
.section {
    width: 100%;
    margin-bottom: 110px;
    position: relative;
    color: var(--sub-color);
    font-family: var(--light-font-kr);
    display: flex;
}
.cursor{
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    z-index: 99999;
    background-color: var(--primary-color);
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
}
.portfolio {
    display: flex;
}

/*-----------------------------section1---------------------------*/
#section1 {
    min-height: 937px;
    width: 100%;
    background: url(../images/sec1/main_bg.png) no-repeat center top,url(../images/sec1/bubble1.png) no-repeat center center;

}
#section1 .container{
    height: 100vh;
}
#section1 .container .button_box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 65%;
    left: 10%;
    width: 408px;
}

/* --------------------------------------------------- */
#section1 .button {
    overflow: hidden;
    display: inline-block;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 20px;
    font-weight: 600;
    color: var(--tit-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    text-decoration: none;
}

#section1 .button .button-text {
    position: relative;
    z-index: 2;
    color: var(--sub-color);
    transition: .3s ease-out all;
}

#section1 .button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: .3s ease-out all;
    background: var(--primary-color);
}

#section1 .button:hover .button-text {
    color: #fff;
}

#section1 .button:hover:before {
    transform: translateX(0);
}

#section1 .button-icon i {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
    background: var(--primary-color);
    line-height: 55px;
}

/* --------------------------------------------------- */
#section1 .scroll_animation {
    position: absolute;
    bottom: 40px;
    left: 50%;
}

#section1 .scroll_animation .mouse {
    height: 45px;
    width: 30px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    margin-bottom: 3px;
}

#section1 .scroll_animation .wheel {
    animation: mouse-wheel 1.5s ease infinite;
    height: 13px;
    width: 4px;
    background: var(--primary-color);
    margin: 3px auto;
    border-radius: 3px;
}

@keyframes mouse-wheel {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        transform: translateY(18px)
    }
}

#section1 .scroll_animation .arrows .first {
    animation-delay: .1s;
}

#section1 .scroll_animation .arrows .second {
    animation-delay: .2s;
}

#section1 .scroll_animation .arrows .third {
    animation-delay: .3s;
}

#section1 .scroll_animation .arrows span {
    width: 9px;
    height: 9px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(45deg);
    display: block;
    margin: 0 auto;
    animation: mouse-scroll 1.5s infinite;
}

@keyframes mouse-scroll {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: .5
    }
}

#section1 .main_slogan {
    height: fit-content;
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: var(--light-font-kr);
    font-size: 40px;
    line-height: 90px;

}

#section1 .main_slogan span {
    color: var(--primary-color);
    font-family: var(--bold-font-kr);
}

/*----------------------------section2----------------------*/
#section2 {
    width: 100%;
    padding-bottom: 100px;
    flex-direction: column;
    display: block;
    position: relative;
}
#section2.on::before{
    transform: translateX(0);
}
#section2:before{
    width: 100%;
    content: "";
    display: block;
    height: 980px;
    position: absolute;
    bottom: -100px;
    background: url(../images/sec2/sec2_bg.png);
    left: 0;
    transition: all 10s ease;
    /* animation: right_slide 5s; */
}
/* @keyframes right_slide{
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
} */
h2 {
    height: 60px;
    font-size: 60px;
    font-family: var(--eg-font);
    font-weight: 500;
    margin-bottom: 60px;
}

#section2 .profile_box {
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
}

#section2 .profile_img {
    background: url(../images/sec2/profile_bg.jpg) no-repeat right center / cover;
    width: 346px;
    height: 476px;
}

#section2 .text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

#section2 .text_box .txt_top_box {
    flex-direction: column;
}

#section2 .text_box p {
    width: 60%;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;

}

#section2 .profile_box .text_box ul {
    display: flex;
    width: 100%;
}

#section2 .profile_box .text_box ul li {
    font-size: 18px;
    font-weight: 100;
    line-height: 32px;
    padding-right: 30px;
}

.txt_top_box,
.txt_mid_box,
.txt_bot_box {
    margin-bottom: 30px;
}

/*----------------------------section 3-----------------------*/
#section3 {
    width: 100%;
    height: 72vh;
    flex-direction: column;
}

#section3 .charts {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section3 .charts .top_chart {
    display: flex;
    transition: all 5s .5s ease;
    margin-bottom: 20px;
}

#section3 .charts .bottom_chart {
    display: flex;
}

#section3 .charts .chart {
    position: relative;
    width: 200px;
    height: 234px;
    /* border: 2px solid #f5f5f5; */
    background: #fbfbfb;
    margin-bottom: 16px;
    margin-right: 30px;
    transition: all 0.3s ease-out;

}

#section3 .charts .chart:hover {
    transform: translateY(-10px);
}

#section3 .charts .chart h3 {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: var(--bold-font-kr);
    color: var(--sub2-color);
}

#section3 .charts .chart h4 {
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: var(--thin-font-kr);
}

#section3 .charts .chart svg {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-53.5%, -50%);
    width: 130px;
    height: 130px;
}

#section3 .charts .chart circle {
    fill: transparent;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    stroke-width: 10;
    transform-origin: 50% 50%;
    transform: rotate(-90deg) scale(90%);
}

#section3 .charts .chart:nth-child(1) circle {
    stroke: #87bfff;
}

#section3 .charts .chart:nth-child(2) circle {
    stroke: #2667ff;
}

#section3 .charts .chart:nth-child(3) circle {
    stroke: #192bc2;
}

#section3 .charts .chart:nth-child(4) circle {
    stroke: #150578;
}

/*---------------------------------------section4 새 레이아웃----------------------------------------------- */
#section4,#section5,#section6,#section7 {
    flex-direction: column;
}
#section4{
    background: url(../images/sec4/bubble3.png) no-repeat center center;
}
.img_box {
    width: 900px;
    height: 66vh;
    margin: 0 auto;
}
.mockup {
    width: 500px;
    height: 500px;
    position: relative;
    top: 260px;
}

.img_box .mockup.pc {
    position: relative;
    width: 100%;
    top: 0;
}

.img_box .mockup.iphone {
    position: relative;
    top: -314px;
    left: 670px;
    width: 156px;
    height: 318px;
}

.img_box .mockup .com {
    position: absolute;
    width: 100%;
}

.pc a.hidden {
    display: block;
    width: 74%;
    height: 86%;
    position: absolute;
    overflow: hidden;
    top: 17px;
    left: 74px;
    border-radius: 10px 10px 0 0;
}

.img_box .mockup .phone {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img_box .mockup.iphone a.hidden {
    display: block;
    width: 140px;
    height: 304px;
    position: absolute;
    overflow: hidden;
    top: 6px;
    left: 8px;
    border-radius: 17px;
}
.hidden img {
    position: relative;
    width: 100%;
}

/*--------------section4-project_info-----------------  */
.project_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
}
.project_info h3{
    font-size: 30px;
    color: #0505af;
}
.project_info .project_title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
}
.project_info .project_title .button_box{
    margin-left: 60px;
}
.project_info .project_title .button_box .button {
    overflow: hidden;
    display: inline-block;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 20px;
    font-weight: 600;
    color: var(--tit-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    text-decoration: none;
}
.project_info .project_title .button_box .button:nth-child(2){
    margin-left: 60px;
}
.project_info .project_title .button_box .button .button-text {
    position: relative;
    z-index: 2;
    color: var(--sub-color);
    transition: .3s ease-out all;
}

.project_info .project_title .button_box .button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: .3s ease-out all;
    background: var(--primary-color);
}

.project_info .project_title .button_box .button:hover .button-text {
    color: #fff;
}

.project_info .project_title .button_box .button:hover:before {
    transform: translateX(0);
}

.project_info .project_title .button_box .button-icon i {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
    line-height: 55px;
    background: var(--primary-color);
}
.project_info .text_box {
    font-size: 16px;
    border-top: 2px solid #eeeeee;
    padding: 10px 0;
    line-height: 35px;
    letter-spacing: -1.2px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.project_info .text_box .info_box div {
    display: flex;
    padding-top: 10px;
    font-size: 16px;
    margin-left: 60px;
}

.project_info .info_box div span {
    font-weight: bold;
}

.project_info .info_box div p{
    margin-left: 20px;
}
.project_info .info_box .using_program .html {
    background: url(../images/html1.png) no-repeat center center/ contain;
    width: 50px;
    height: 50px;
    display: block;
}

.project_info .info_box .using_program .css {
    background: url(../images/css1.png) no-repeat center center/ contain;
    width: 50px;
    height: 50px;
    display: block;
}

.project_info .info_box .using_program .jq {
    background: url(../images/javascript.png) no-repeat center center/contain;
    width: 50px;
    height: 50px;
    display: block;
}



/*-------------------------section5------------------------*/
#section5 {
    width: 100%;
    height: 100vh;
}
#section5 .img_box {
    margin-left: 25%;
}
#section5 .img_box .mockup.tablet {
    position: relative;
    top: -367px;
    left: -193px;
    width: 400px;
}

.img_box .mockup .tab {
    position: absolute;
    width: 100%;
}
.tablet a.hidden {
    display: block;
    width: 220px;
    height: 337px;
    position: absolute;
    overflow: hidden;
    top: 17px;
    left: 87px;
    border-radius: 7px;
}

#section5 .img_box .iphone{
    top: -814px;
}


/*-------------------------section6------------------------*/
#section6 {
    width: 100%;
    height: 100vh;
}
#section6 .pc a.hidden {
    width: 78%;
    height: 92%;
    top: 29px;
    left: 100px;
    border-radius: 15px 15px 0 0;
}

/* -----------------------section7 -------------------- */
#section7 {
    width: 100%;
    height: 100vh;
}
#section7 .img_box{
    display: flex;
    justify-content: space-around;
}
#section7 .img_box .mockup{
	position: relative;
	width: 268px;
	height: 530px;
	overflow: hidden;
	left: 0;
	top: 0px;
	background: url(../images/sec4/iphone.png) no-repeat center top;
	background-size: contain;
}
#section7 .figma {
	position: absolute;
	overflow: hidden;
	border-radius: 26px;
	width: 238px;
	height: 504px;
	top: 12px;
	left: 16px;
}
#section7 .figma iframe {
    width:100%;
    height: 592px;
    position: absolute;
    top: -16px;
    left: 2px;
}
#section7 .img_box p{
    font-size: 13px;
    color: #aaa;
    position: absolute;
    top: 575px;
    left: 417px;
}
#section7 iframe{
	display: block;
	position: absolute;
	width: 209px;
	height: 413px;
	top: 0;
	left: -1px;
}
#section7 iframe{
    display: block;
    position: absolute;
    width: 209px;
    height: 413px;
    top: 0;
    left: -1px;
}
#section7 .hidden img{
    position: relative;
    width: 207px;
    height: 413px;
}


/* -----------------------section8------------------------ */
#section8 {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
#section8 h2{
    margin-left: 252px;
}
#section8 .container_full{
    position: relative;
    bottom: 0;
}
#section8.swiper {
	width: 100%;
	height: 100%;
}
#section8.swiper .art_list{
	position:relative;
	height: 500px;
}
#section8 .swiper-slide {
	overflow: hidden;
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	position:relative;
}
#section8 .swiper-slide:after{
	content:'';
	background:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:200px;
	bottom:0;
	left:0;
	z-index: 1;
}
#section8 .swiper-slide>*{
	position:absolute;
}
#section8 .art_list a{
	display: inline-block;	
}
#section8 .art_list p{
	color:white;
	font-size:1.2rem;
	z-index: 2;
}
#section8 .art_list p:nth-of-type(1){
	bottom:22%;
}
#section8 .art_list p:nth-of-type(2){
	bottom:12%;
}
#section8 .art_list p:nth-of-type(3){
	bottom: 5%;
}
#section8 .art_list div a img {
	height: 100%;
	max-width:600px;
	
}
#section8 .swiper-slide-active {
	z-index: 5;
	transform: scale(1.2);
	box-shadow: 0 25px 55px rgba(0, 0, 0, 0.2);
}
#section8 .swiper-slide-active p {
	padding-left: 10px;
}
#section8 .swiper-slide-active p:nth-child(3) {
	color: var(--primary-color);
}
#section8 .swiper-slide-prev,
#section8 .swiper-slide-next {
	transition: all 0.5s;
}

/* -----------------------section9------------------------ */
#section9 {
    max-width: 100%;
    height: 100vh;
    background: url(../images/sec4/bubble2_bg.png) no-repeat center center;
    margin-bottom: 0;

}
#section9 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section9 .container img{
    width: 25%;
    margin-bottom: 60px;
}
#section9 .container p{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
}
#section9 .button {
    overflow: hidden;
    display: inline-block;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 20px;
    font-weight: 600;
    color: var(--tit-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    text-decoration: none;
}

#section9 .button .button-text {
    position: relative;
    z-index: 2;
    color: var(--sub-color);
    transition: .3s ease-out all;
}

#section9 .button:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: .3s ease-out all;
    background: var(--primary-color);
}

#section9 .button:hover .button-text {
    color: #fff;
}

#section9 .button:hover:before {
    transform: translateX(0);
}

#section9 .button-icon i {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
    background: var(--primary-color);
    line-height: 55px;
}